/* style sheet*/
.ta_view_right {
	float: right;
}

.ta_view_left {
	width:540px;
	height: 360px;
	float: left;
}

.student_info_card {
	width:460px;
	height: 300px;
	outline: 1px dashed;
	background: #000;
	border-radius: 10px;
	color: #fff;
}

#student_name {
	float: left;
	margin-top: 65px;
	margin-left: 40px;
}

.student_info_card div {
	clear:both;
	height: 200px;
}

#user_image_wrap {
	float:left;
	margin:25px;
	width: 175px;
	height: 200px;
	overflow: hidden;
	border: 2px solid black;
  border-radius: 10px;
}

#bump {
	padding:8px 16px;
	font-size: 16px;
	/*font-weight: bold;*/
	float: right;
	margin-right:20px;
	margin-top: -20px;
	padding: 1em 1.5em;
	background-color: #cc3524;
	border: none;
	border-radius: 30px;
	color: #fff;
}

#bump:hover {
	background-color: #b62f20;
}

#next{
	padding:8px 16px;
	font-size: 16px;
	/*font-weight: bold;*/
	float: right;
	margin-right:20px;
	margin-top: -20px;
	padding: 1em 1.5em;
	font-family: 'Monsterrat', sans-serif;
  background-color: #4fbf4f;
  color: #fff;
  border: none;
  border-radius: 30px;
}

#next:hover{
  background-color: #3f9f3f;
}

#active_course {
	float: left;
}

#active_course p {
	margin-left: 13px;
	margin-bottom: 3px;
}

#active_course .drop_items {
	opacity: 0;
	height: 0;
	overflow: hidden;
}

#active_course .drop_items.active {
	opacity: 1;
	height: auto;
	overflow: auto;
	transition: 350ms all;
}

#active_course ul {
	cursor: pointer;
}

#active_course .drop_heading {
	padding:10px;
}

#active_course li {
	outline: 1px solid;
	padding: 10px 0;
	text-align: center;
}

button#problem_otd_button {
	width: 200px;
	height: 40px;
	border: none;
	border-radius: 30px;
	background-color: #cc3524;
	color: #fff;
	font-size: 13px;
  font-family: 'Monsterrat', sans-serif;
}

#potd_overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 9999;
}

#potd_popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 396px;
  height: 200px;
  margin-top: -75px;
  margin-left: -150px;
  background: #fff;
  border: 2px solid #000;
  z-index: 99999;
}

form#potd_form input{
	/*width: 294px;
  height: 120px;*/
	padding-top: 0;
	padding-left: 0;
	line-height: 1em;
}

form#potd_form textarea{
	background-color: #e0ddd1;
  border: none;
  border-radius: 0;
	font-family: 'Monsterrat', sans-serif;
  font-size: 16px;
}

button#submit_potd{
	margin-top: 3px;
	margin-left: 125px;
	background-color: #4fbf4f;
	color: #fff;
	border: none;
	border-radius: 30px;
	width: 70px;
	font-size: 12px;
}

button#cancel_potd{
	border: none;
  border-radius: 30px;
  width: 70px;
  font-size: 12px;
  font-family: 'Monsterrat', sans-serif;
  background-color: #cc3524;
  color: #fff;
}
