/* style sheet*/
.ta_view_right {
	float: right;
}

.ta_view_left {
	width:540px;
	height: 360px;
	float: left;
}

.student_info_card {
	width:460px;
	height: 300px;
	outline: 1px dashed;
}

#student_name {
	float: left;
	margin-top: 65px;
	margin-left: 40px;
}

.student_info_card div {
	clear:both;
	height: 200px;
}

#user_image_wrap {
	float:left;
	margin:25px;
	width: 175px;
	height: 200px;
	overflow: hidden;
}

#bump {
	padding:8px 16px;
	font-size: 20px;
	font-weight: bold;
	float: right;
	margin-right:20px;
}

#next{
	padding:8px 16px;
	font-size: 20px;
	font-weight: bold;
	float: right;
	margin-right:20px;
}

.clearFix {
	clear: both;
}

#active_course {
	float: left;
}

#active_course .drop_items {
	opacity: 0;
	height: 0;
	overflow: hidden;
}

#active_course .drop_items.active {
	opacity: 1;
	height: auto;
	overflow: auto;
	transition: 350ms all;
}

#active_course ul {
	cursor: pointer;
}

#active_course .drop_heading {
	padding:10px;
}

#active_course li {
	outline: 1px dashed;
	padding: 10px 0;
}

#potd_overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 9999;
}

#potd_popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 150px;
  margin-top: -75px;
  margin-left: -150px;
  background: #fff;
  border: 2px solid #000;
  z-index: 99999;
}
