#q_and_options {
  position: relative;
}

.student_q {
  background-color: beige;
	margin: 20px 10px 20px 20px;
	width: 500px;
  /*display: inline-block;*/
  position: absolute;
  left: 0;
}

.student_options {
  background-color: beige;
	margin: 20px 20px 20px 10px;
	width: 400px;
  /*display: inline-block;*/
  position: absolute;
  right: 0;
  height: 300px;
}

.available_ta_box {
  /*border: 1px dotted red;*/
  position: absolute;
  top: 10px;
  left: 10px;
}

.problem_type_box {
  /*border: 1px dotted red;*/
  position: absolute;
  top: 80px;
  left: 10px;
}

.student_options h3 {
	margin: 10px;
	font-size: 16px;
  font-family: arial;
}

select {
  margin: 0 10px auto;
}

#ta_image_wrap {
  position: absolute;
  right: 10px;
  top: 10px;
	margin:10px;
  width: 175px;
  height: 200px;
  overflow: hidden;
  border: 1px inset black;
  text-align: center;
  font-family: arial;
  font-size: 16px;
  line-height: 200px;
}

#remove_request_btn {
  background-color: #bbb;
  background-image: -webkit-linear-gradient(top, #bbb, #999);
  background-image: -moz-linear-gradient(top, #bbb, #999);
  background-image: -ms-linear-gradient(top, #bbb, #999);
  background-image: -o-linear-gradient(top, #bbb, #999);
  background-image: linear-gradient(to bottom, #bbb, #999);
  text-shadow: 1px 1px 3px #666666;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  width: 95px;
  text-align: center;
  pointer-events: none;
  display: inline-block;
  position: absolute;
  top: 150px;
  left: 10px;
  font-family: Gotham Rounded SSm A,Gotham Rounded SSm B;
  color: #fff;
  border: 0;
  border-radius: 30px;
  padding: 1em 1.5em;
}

#remove_request_btn.active {
  transition: all 350ms ease-in;
  background-color: #cc3524;
  background-image: -webkit-linear-gradient(top, #cc3524, #cc3524);
  background-image: -moz-linear-gradient(top, #cc3524, #cc3524);
  background-image: -ms-linear-gradient(top, #cc3524, #cc3524);
  background-image: -o-linear-gradient(top, #cc3524, #cc3524);
  background-image: linear-gradient(to bottom, #cc3524, #cc3524);
  cursor: pointer;
  pointer-events: auto;
}

#remove_request_btn.active:hover {
  background-color: #b62f20;
  background-image: -webkit-linear-gradient(top, #b62f20, #b62f20);
  background-image: -moz-linear-gradient(top, #b62f20, #b62f20);
  background-image: -ms-linear-gradient(top, #b62f20, #b62f20);
  background-image: -o-linear-gradient(top, #b62f20, #b62f20);
  background-image: linear-gradient(to bottom, #b62f20, #b62f20);
}

#flipBtnWrapper {
  /*width: 180px;*/
  /*height: 36px;*/
  margin: 10px;
  position: absolute;
  top: 210px;
  left: 10px;
}

.flipBtn {
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 350ms;
}

#enter_queue {
  background: #42ca8b;
  background-image: -webkit-linear-gradient(top, #42ca8b, #42ca8b);
  background-image: -moz-linear-gradient(top, #42ca8b, #42ca8b);
  background-image: -ms-linear-gradient(top, #42ca8b, #42ca8b);
  background-image: -o-linear-gradient(top, #42ca8b, #42ca8b);
  background-image: linear-gradient(to bottom, #42ca8b, #42ca8b);
  text-shadow: 1px 1px 3px #666666;
  font-family: Gotham Rounded SSm A,Gotham Rounded SSm B;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  cursor: pointer;
  border: 0;
  border-radius: 30px;
  padding: 1em 1.5em;
}

#enter_queue:hover {
  background: #32ba7b;
  background-image: -webkit-linear-gradient(top, #32ba7b, #32ba7b);
  background-image: -moz-linear-gradient(top, #32ba7b, #32ba7b);
  background-image: -ms-linear-gradient(top, #32ba7b, #32ba7b);
  background-image: -o-linear-gradient(top, #32ba7b, #32ba7b);
  background-image: linear-gradient(to bottom, #32ba7b, #32ba7b);
}

#pause_resume {
  background: #db9834;
  background-image: -webkit-linear-gradient(top, #db9834, #db9834);
  background-image: -moz-linear-gradient(top, #db9834, #db9834);
  background-image: -ms-linear-gradient(top, #db9834, #db9834);
  background-image: -o-linear-gradient(top, #db9834, #db9834);
  background-image: linear-gradient(to bottom, #db9834, #db9834);
  text-shadow: 1px 1px 3px #666666;
  font-family: Gotham Rounded SSm A,Gotham Rounded SSm B;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  cursor: pointer;
  margin-top: -40px;
  border: 0;
  border-radius: 30px;
  padding: 1em 1.5em;
}

#pause_resume:hover {
  background: #cb8824;
  background-image: -webkit-linear-gradient(top, #cb8824, #cb8824);
  background-image: -moz-linear-gradient(top, #cb8824, #cb8824);
  background-image: -ms-linear-gradient(top, #cb8824, #cb8824);
  background-image: -o-linear-gradient(top, #cb8824, #cb8824);
  background-image: linear-gradient(to bottom, #cb8824, #cb8824);
}
