#q_and_options {
  position: relative;
}

.student_q {
  background-color: #FFF;
	margin: 20px 10px 20px 0;
	width: 600px;
  position: absolute;
  left: 0;
}

.student_options {
  background-color: black;
	margin: 20px 0 20px 10px;
	width: 400px;
  position: absolute;
  right: 0;
  height: 300px;
  margin-bottom: 100px;
  border-radius: 10px;
}

.available_ta_box {
  position: absolute;
  top: 10px;
  left: 10px;
}

.problem_type_box {
  position: absolute;
  top: 80px;
  left: 10px;
}

.student_options h3 {
	margin: 10px;
	font-size: 16px;
  color: #fff;
  /*font-family: 'Monsterrat', sans-serif;*/
}

select {
  margin: 0 10px auto;
}

#ta_image_wrap {
  position: absolute;
  right: 10px;
  top: 10px;
	margin:10px;
  width: 175px;
  height: 200px;
  overflow: hidden;
  border: 1px inset black;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 200px;
  border-radius: 10px;
}

#remove_request_btn {
  background-color: #bbb;
  background-image: -webkit-linear-gradient(top, #bbb, #999);
  background-image: -moz-linear-gradient(top, #bbb, #999);
  background-image: -ms-linear-gradient(top, #bbb, #999);
  background-image: -o-linear-gradient(top, #bbb, #999);
  background-image: linear-gradient(to bottom, #bbb, #999);
  padding: 8px 16px;
  margin: 10px;
  width: 110px;
  text-align: center;
  pointer-events: none;
  display: inline-block;
  position: absolute;
  top: 150px;
  left: 10px;
  font-size: 16px;
  font-family: 'Monsterrat', sans-serif;
  color: #fff;
  border: 0;
  border-radius: 30px;
  padding: 1em 1.5em;
}

#remove_request_btn.active {
  background-color: #cc3524;
  background-image: -webkit-linear-gradient(top, #cc3524, #cc3524);
  background-image: -moz-linear-gradient(top, #cc3524, #cc3524);
  background-image: -ms-linear-gradient(top, #cc3524, #cc3524);
  background-image: -o-linear-gradient(top, #cc3524, #cc3524);
  background-image: linear-gradient(to bottom, #cc3524, #cc3524);
  cursor: pointer;
  pointer-events: auto;
}

#remove_request_btn.active:hover {
  background-color: #b62f20;
  background-image: -webkit-linear-gradient(top, #b62f20, #b62f20);
  background-image: -moz-linear-gradient(top, #b62f20, #b62f20);
  background-image: -ms-linear-gradient(top, #b62f20, #b62f20);
  background-image: -o-linear-gradient(top, #b62f20, #b62f20);
  background-image: linear-gradient(to bottom, #b62f20, #b62f20);
}

#flipBtnWrapper {
  /*width: 180px;*/
  /*height: 36px;*/
  margin: 10px;
  position: absolute;
  top: 210px;
  left: 10px;
}

.flipBtn {
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 350ms;
}

#enter_queue {
  background: #cc3524;
  /*background-image: -webkit-linear-gradient(top, #42ca8b, #42ca8b);
  background-image: -moz-linear-gradient(top, #42ca8b, #42ca8b);
  background-image: -ms-linear-gradient(top, #42ca8b, #42ca8b);
  background-image: -o-linear-gradient(top, #42ca8b, #42ca8b);*/
  /*background-image: linear-gradient(to bottom, #4fbf4f, #4fbf4f);*/
  /*text-shadow: 1px 1px 3px #666666;*/
  font-family: 'Monsterrat', sans-serif;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  cursor: pointer;
  border: 0;
  border-radius: 30px;
  padding: 1em 1.5em;
}

#enter_queue:hover {
  background: #b62f20;
  /*background-image: -webkit-linear-gradient(top, #32ba7b, #32ba7b);
  background-image: -moz-linear-gradient(top, #32ba7b, #32ba7b);
  background-image: -ms-linear-gradient(top, #32ba7b, #32ba7b);
  background-image: -o-linear-gradient(top, #32ba7b, #32ba7b);*/
  /*background-image: linear-gradient(to bottom, #3f9f3f, #3f9f3f);*/
}

#pause_resume {
  background: #fff;
  /*background-image: -webkit-linear-gradient(top, #db9834, #db9834);
  background-image: -moz-linear-gradient(top, #db9834, #db9834);
  background-image: -ms-linear-gradient(top, #db9834, #db9834);
  background-image: -o-linear-gradient(top, #db9834, #db9834);
  background-image: linear-gradient(to bottom, #db9834, #db9834);*/
  /*text-shadow: 1px 1px 3px #666666;*/
  font-family: 'Monsterrat', sans-serif;
  color: #cc3524;
  font-size: 16px;
  padding: 8px 16px;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  cursor: pointer;
  margin-top: -40px;
  border: 1px solid #cc3524;
  border-radius: 30px;
  padding: 1em 1.5em;
}

#pause_resume:hover {
  background: #fdf3f2;
  /*background-image: -webkit-linear-gradient(top, #cb8824, #cb8824);
  background-image: -moz-linear-gradient(top, #cb8824, #cb8824);
  background-image: -ms-linear-gradient(top, #cb8824, #cb8824);
  background-image: -o-linear-gradient(top, #cb8824, #cb8824);
  background-image: linear-gradient(to bottom, #cb8824, #cb8824);*/
}
