#q_and_options {
  position: relative;
}

.student_q {
  background-color: beige;
	margin: 20px 10px 20px 20px;
	width: 540px;
  /*display: inline-block;*/
  position: absolute;
  left: 0;
}

.student_options {
  background-color: beige;
	margin: 20px 20px 20px 10px;
	width: 360px;
  /*display: inline-block;*/
  position: absolute;
  right: 0;
  height: 300px;
}

.available_ta_box {
  /*border: 1px dotted red;*/
  position: absolute;
  top: 10px;
  left: 10px;
}

.problem_type_box {
  /*border: 1px dotted red;*/
  position: absolute;
  top: 100px;
  left: 10px;
}

.student_options h3 {
	margin: 10px;
	font-size: 16px;
  font-family: arial;
}

select {
  margin: 0 10px auto;
}

#ta_image_wrap {
  position: absolute;
  right: 10px;
  top: 10px;
	margin:10px;
  width: 175px;
  height: 200px;
  overflow: hidden;
  border: 1px inset black;
  text-align: center;
  font-family: arial;
  font-size: 16px;
  line-height: 200px;
}

#remove_request_btn {
  background-color: #bbb;
  background-image: -webkit-linear-gradient(top, #bbb, #999);
  background-image: -moz-linear-gradient(top, #bbb, #999);
  background-image: -ms-linear-gradient(top, #bbb, #999);
  background-image: -o-linear-gradient(top, #bbb, #999);
  background-image: linear-gradient(to bottom, #bbb, #999);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border: solid #000000 1px;
  margin: 10px;
  pointer-events: none;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#remove_request_btn.active {
  transition: all 350ms ease-in;
  background-color: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  cursor: pointer;
  pointer-events: auto;
}

#remove_request_btn.active:hover {
  transition: background-color 1000ms linear;
  background-color: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

#flipBtnWrapper {
  /*width: 180px;*/
  /*height: 36px;*/
  margin: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.flipBtn {
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 350ms;
}

#enter_queue {
  background: #34db98;
  background-image: -webkit-linear-gradient(top, #34db98, #29b980);
  background-image: -moz-linear-gradient(top, #34db98, #29b980);
  background-image: -ms-linear-gradient(top, #34db98, #29b980);
  background-image: -o-linear-gradient(top, #34db98, #29b980);
  background-image: linear-gradient(to bottom, #34db98, #29b980);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 1px;
  /*background-color: green;*/
  backface-visibility: hidden;
  transform: rotateX(0deg);
  cursor: pointer;
}

#enter_queue:hover {
  background: #3cfdb0;
  background-image: -webkit-linear-gradient(top, #3cfdb0, #34db98);
  background-image: -moz-linear-gradient(top, #3cfdb0, #34db98);
  background-image: -ms-linear-gradient(top, #3cfdb0, #34db98);
  background-image: -o-linear-gradient(top, #3cfdb0, #34db98);
  background-image: linear-gradient(to bottom, #3cfdb0, #34db98);
}

#pause_resume {
  background: #db9834;
  background-image: -webkit-linear-gradient(top, #db9834, #b98029);
  background-image: -moz-linear-gradient(top, #db9834, #b98029);
  background-image: -ms-linear-gradient(top, #db9834, #b98029);
  background-image: -o-linear-gradient(top, #db9834, #b98029);
  background-image: linear-gradient(to bottom, #db9834, #b98029);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 1px;
  /*background-color: yellow;*/
  backface-visibility: hidden;
  transform: rotateX(180deg);
  cursor: pointer;
  margin-top: -40px;
}

#pause_resume:hover {
  background: #fdb03c;
  background-image: -webkit-linear-gradient(top, #fdb03c, #db9834);
  background-image: -moz-linear-gradient(top, #fdb03c, #db9834);
  background-image: -ms-linear-gradient(top, #fdb03c, #db9834);
  background-image: -o-linear-gradient(top, #fdb03c, #db9834);
  background-image: linear-gradient(to bottom, #fdb03c, #db9834);
}
