header {
	width:100%;
	position:fixed;
	height:120px;
	top: 0;
	background: #fff;
	outline: 1px dashed;
}

header h1 {
	font-size: 60px;
	margin: 30px;
	text-align: center;
}

.logo {
	margin: 20px 30px;
	float: left;
	height: 80px;
	width: 100px;
	outline: 1px dashed;
}

#log_out_btn {
	float: right;
	padding: 12px 8px;
	font-size: 18px;
	margin: 30px;
}

main {
	width: 1200px;
	height: 100%;
	margin: 140px auto;
	outline: 1px dashed;
}

.problem_otd {
	padding: 20px;
	margin: 0 auto;
	margin-top: 20px;
	outline: 1px dashed;
}

.problem_otd h2 {
	text-align: center;
	font-size: 20px;
	margin: 20px;
}

.problem_otd p {
	font-size: 16px;
	width: 1000px;
	margin: 0 auto;
	padding: 5px 10px;
}

.student_q {
	margin: 0  auto;
	margin-top: 20px;
	width: 960px;
	outline: 1px dashed;
}

#queue {
	width: 100%;
	line-height: 24px;
	margin: 20px auto;
}

#available_ta , #problem_type{
	width: 400px;
	line-height: 24px;
}

#queue li, #available_ta li, #problem_type li{
	font-size: 18px;
	padding: 5px;
	text-align: left;
}

#queue li:nth-of-type(odd), #available_ta li:nth-of-type(odd), #problem_type li:nth-of-type(odd){
	outline: 1px dashed;
}

#queue li .course_focus, #available_ta li .course_focus {
	display: inline-block;
	width: 100px;
	margin-right:10px;
	font-weight: bold;
	text-align: right;
}

#queue li .course_num, #available_ta li .course_num{
	display: inline-block;
	width: 50px;
	margin-right:10px;
	font-weight: bold;
	text-align: right;
}

#queue li .name #available_ta li .name {
	display: inline-block;
	width: 160px;
	margin-right:30px;
	font-weight: bold;
	text-align: right;
}

#queue li .issue {
	display: inline-block;
	margin-right: 30px;
	text-align: right;
}

.student_options {
	margin: 0 auto;
	margin-top: 20px;
	width: 1000px;
	outline: 1px dashed;
	height: 160px;
}

.student_options .left{
	display: inline-block;
	float: left;
}

.student_options .left h3 {
	text-align: center;
	margin: 10px 0;
	font-size: 20px;
}

.student_options .right{
	margin: 10px 0;
	display: inline-block;
	float: right;
}

.student_options .right button {
	display: block;
	width: 220px;
	padding: 8px 12px;
	font-size: 16px;
	margin: 10px;
}

.ta_view_right {
	float: right;
}

.ta_view_left {
	width:540px;
	height: 360px;
	float: left;
}

.student_info_card {
	width:460px;
	height: 300px;
	padding:20px;
	outline: 1px dashed;
}

#user_image_wrap {
	margin:25px;
}

.clearFix {
	clear: both;
}




footer {
	height: 80px;
	width:100%;
 	position:fixed;
 	bottom: 0;
	background: #fff;
	outline: 1px dashed;
}
