header {
	width:100%;
	position:fixed;
	height:120px;
	top: 0;
	background: #fff;
	outline: 1px dashed;
}

header h1 {
	font-size: 60px;
	margin: 30px;
	text-align: center;
}

.logo {
	margin: 20px 30px;
	float: left;
	height: 80px;
	width: 100px;
	outline: 1px dashed;
}

#log_out_btn {
	float: right;
	padding: 12px 8px;
	font-size: 18px;
	margin: 30px;
}

main {
	width: 960px;
	height: 100%;
	margin: 140px auto;
	outline: 1px dashed;
}

.problem_otd {
	padding: 20px;
	margin: 0 auto;
	margin-top: 20px;
	outline: 1px dashed;
}

.problem_otd h2 {
	text-align: center;
	font-size: 20px;
	margin: 20px;
}

.problem_otd p {
	font-size: 16px;
	width: 1000px;
	margin: 0 auto;
	padding: 5px 10px;
}

#queue {
	width: 100%;
	line-height: 24px;
	margin: 20px auto;
}

#available_ta , #problem_type{
	width: 400px;
	line-height: 24px;
}

#queue li, #available_ta li, #problem_type li{
	font-size: 18px;
	padding: 5px;
	text-align: left;
}

#queue li:nth-of-type(odd), #available_ta li:nth-of-type(odd), #problem_type li:nth-of-type(odd){
	outline: 1px dashed;
}

#queue li .course_focus, #available_ta li .course_focus {
	display: inline-block;
	width: 100px;
	margin-right:10px;
	font-weight: bold;
	text-align: right;
}

#queue li .course_num, #available_ta li .course_num{
	display: inline-block;
	width: 50px;
	margin-right:10px;
	font-weight: bold;
	text-align: right;
}

#queue li .name #available_ta li .name {
	display: inline-block;
	width: 160px;
	margin-right:30px;
	font-weight: bold;
	text-align: right;
}

#queue li .issue {
	display: inline-block;
	margin-right: 30px;
	text-align: right;
}

.ta_view_right {
	float: right;
}

.ta_view_left {
	width:540px;
	height: 360px;
	float: left;
}

.student_info_card {
	width:460px;
	height: 300px;
	outline: 1px dashed;
}

#user_image_wrap {
	float:left;
	margin:25px;
}

#student_name {
	float: left;
	margin-top: 65px;
	margin-left: 40px;
}

.student_info_card div {
	clear:both;
	height: 200px;
}

#bump {
	padding:8px 16px;
	font-size: 20px;
	font-weight: bold;
	float: right;
	margin-right:20px;
}

#next{
	padding:8px 16px;
	font-size: 20px;
	font-weight: bold;
	float: right;
	margin-right:20px;
}

.clearFix {
	clear: both;
}

#active_course {
	float: left;
}

#active_course .drop_items {
	opacity: 0;
	height: 0;
	overflow: hidden;
}

#active_course .drop_items.active {
	opacity: 1;
	height: auto;
	overflow: auto;
	transition: 350ms all;
}

#active_course ul {
	cursor: pointer;
}

#active_course .drop_heading {
	padding:10px;
}

#active_course li {
	outline: 1px dashed;
	padding: 10px 0;
}

footer {
	height: 80px;
	width:100%;
 	position:fixed;
 	bottom: 0;
	background: #fff;
	outline: 1px dashed;
}

#potd_overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 9999;
}

#potd_popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 150px;
  margin-top: -75px;
  margin-left: -150px;
  background: #fff;
  border: 2px solid #000;
  z-index: 99999;
}
